@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-image: url("https://i.imgur.com/yCHmnqC.png"); */

  /* background-image: url("https://i.imgur.com/hpr6CFh.png");
  background-image: url("https://i.imgur.com/OSay2e9.png");
  background-image: url("https://i.imgur.com/Lb2bJzo.png");
  background-image: url("https://i.imgur.com/wdXP814.png");
  background-image: url("https://i.imgur.com/OSay2e9.png");
  background-image: url("https://i.imgur.com/Lb2bJzo.png");
  */
  background-image: linear-gradient(white, black);

  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fixed background (doesn't scroll) */
  background-position: center center; /* Center the image */
}

.pattern {
  /* background-image: url("https://i.imgur.com/hpr6CFh.png"); */
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: scroll;
  background-position: center center; /* Center the image */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.user-card {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20px;
}

.form-card {
  padding: 20px;
}
.input-card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar {
  border-radius: 8px;
}
.dark-btn {
  justify-content: space-around;
  margin: 10px;
}
.profile-card {
  padding: 30px;
}
.nav {
  --navbar-height: 6rem;
}
.notification-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* Add more styling as needed */
}

.home-cards {
  justify-content: center;
  display: flex;
}
.dark-mode1 {
  justify-content: stretch;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2em;
}
