@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("https://i.imgur.com/yCHmnqCh.png");
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fixed background (doesn't scroll) */
  background-position: center center; /* Center the image */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.user-card {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20px;
}

.items-center {
  justify-content: center;
}
.form-card {
  padding: 20px;
}
.input-card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar {
  border-radius: 8px;
}
.dark-btn {
  justify-content: space-around;
  margin: 10px;
}
.profile-card {
  padding: 30px;
}
.nav {
  --navbar-height: 6rem;
}
.notification-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* Add more styling as needed */
}
